div {
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: #66757f;
  }

div.text {
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: #66757f;
  }

p {
  padding: 4px;
  font-size: 12px;
  text-align: left;
  }

ul {
  font-family: "Helvetica Neue";
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #55acee 0%, #3fc094 100%);
  background-blend-mode: color-dodge;
  border-bottom: solid #55acee 1px;
  max-height: 45px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

li a:hover {
  color: #55acee;
}

body {
    margin: auto;
    width: 100%;
    border: none
    padding: 20px;
}

header {
  font-size: 28px;
  margin-top: 110px;
  padding: 20px;
  border: none;
  width: 100%;
  text-align: center;
}

input[type="text"] {
  position: center;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 18px;
}

input[type="email"] {
  position: center;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: white;
  font-size: 18px;
}

input[type="password"] {
  position: center;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: white;
  font-size: 18px;
}

button {
  background-color: #55acee;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 8px 0;
  position: center;
  width: 400px;
  padding: 12px 20px;
  font-size: 18px;
  }
